{% assign tabs = include.html %}
{% assign codeblocks = tabs | split: "````" %}

{% capture test%}
{% increment tab_group %}
{% endcapture %}

<div class="tabs">
    {% assign checked = "checked" %}

    {% for block in codeblocks %}

        {% assign trimmed_block = block | lstrip | rstrip %}
        {% assign block_size = trimmed_block | size %}

        {% if block_size > 0 %}

            {% capture test%}
                {% increment tab_counter %}
            {% endcapture %}

            {% assign lang = block | newline_to_br | split: "<br />" | first | lstrip | rstrip %}


            <input type="radio" name="tab-group-{{tab_group}}" id="tab-{{tab_group}}{{tab_counter}}" {{checked}}>
            <label for="tab-{{tab_group}}{{tab_counter}}">{{lang}}</label>
            <div class="tab">
                {{ block | append: "````" | prepend: "````" | markdownify }}
            </div>

            {% assign checked = "" %}
        {% endif %}
    {% endfor %}
</div>
