#page_layout {
  display: flex;
  flex-direction: row-reverse;
}

.page-content {
  width: 75%;
}

.page_toc {
  width: 25%;
}

.content_toc {
  position: sticky;
  top: 2rem;
  //counter-reset: step-counter;
  font-size: 14px !important;
}

.content_toc ul {
  list-style-type: none;
  counter-reset: step-counter;

  > li {
    position: relative;

    &::before {
      position: absolute;
      top: 0.2em;
      left: -1.6em;
      color: $grey-dk-000;
      content: counter(step-counter);
      counter-increment: step-counter;
      @include fs-3;

      @include mq(sm) {
        top: 0.11em;
      }
    }

    ul {
      counter-reset: sub-counter;

      li {
        &::before {
          content: counter(sub-counter, lower-alpha);
          counter-increment: sub-counter;
        }
      }
    }
  }
}