@media (min-width: 66.5rem) {
  .main-content {
    margin-left: calc((100% - 1064px) / 2 + 150px);
  }
  .side-bar {
    width: calc((100% - 1064px) / 2 + 150px);
    min-width: 264px;
  }
}

@media (min-width: 50rem) {
  .main-content {
    max-width: 1000px;
  }
}