/* const function*/
.highlight code {
  background: #302d36;
  color: #e2e2e2;
}

pre.highlight {
  background-color: #302d36;
}

.highlight .kd {
  color: #268bd2;
  font-weight: bolder;
}

/* import statements*/
.highlight .k {
  color: #eaa265;
}

/*punctuation and brackets*/
.highlight .p {
  color: #FFFFFF;
}

/*variables, variable names*/
.highlight .nx {
  color: #ef6d12;
}

/*strings*/
.highlight .s1 {
  color: #21e820;
  font-weight: bold;
}

/*strings*/
.highlight .s2 {
  color: #01c500;
}

/*attribute names*/
.highlight .na {
  color: #9d8aff;
}

/* Comment */
.highlight .c {
  color: #3ad23e;
}

.highlight .c1 {
  color: #bbbbbb;
}

.highlight .kn {
  color: #ff6900;
}

/*Given, When, Then*/
.highlight .nf {
  color: #268bd2;
  font-weight: bold;
}
blockquote {
  border-left: 4px solid darkslategray;
  font-family: 'Roboto', serif;
  font-weight: 500;
  color: lightslategray;
  padding: 0px 10px;
}

#page_layout {
  display: flex;
  flex-direction: row-reverse;
}

.page-content {
  width: 75%;
}

.page_toc {
  width: 25%;
}

.content_toc {
  position: sticky;
  top: 2rem;
  //counter-reset: step-counter;
  font-size: 14px !important;
}

.content_toc ul {
  list-style-type: none;
  counter-reset: step-counter;

  > li {
    position: relative;

    &::before {
      position: absolute;
      top: 0.2em;
      left: -1.6em;
      color: $grey-dk-000;
      content: counter(step-counter);
      counter-increment: step-counter;
      @include fs-3;

      @include mq(sm) {
        top: 0.11em;
      }
    }

    ul {
      counter-reset: sub-counter;

      li {
        &::before {
          content: counter(sub-counter, lower-alpha);
          counter-increment: sub-counter;
        }
      }
    }
  }
}