/* const function*/
.highlight .kd {
  color: #268bd2;
  font-weight: bolder;
}

/* import statements*/
.highlight .k {
  color: #eaa265;
}

/*punctuation and brackets*/
.highlight .p {
  color: #000000;
}

/*variables, variable names*/
.highlight .nx {
  color: #ef6d12;
}

/*strings*/
.highlight .s1 {
  color: #21e820;
  font-weight: bold;
}

/*strings*/
.highlight .s2 {
  color: #01c500;
}

/*attribute names*/
.highlight .na {
  color: #9d8aff;
}

/* Comment */
.highlight .c {
  color: #3ad23e;
}

.highlight .c1 {
  color: #bbbbbb;
}

.highlight .kn {
  color: #ff6900;
}

/*Given, When, Then*/
.highlight .nf {
  color: #268bd2;
  font-weight: bold;
}
blockquote {
  border-left: 4px solid darkslategray;
  font-family: 'Roboto', serif;
  font-weight: 500;
  color: lightslategray;
  padding: 0px 10px;
}

#page_layout {
  display: flex;
  flex-direction: row-reverse;
}

.page-content {
  width: 75%;
}

.page_toc {
  width: 25%;
}

.page_toc.toc {
  position: sticky;
  top: 2rem;
}


